.ff0{font-family:sans-serif;visibility:hidden;}
@font-face{font-family:ff1;src:url(f1.woff)format("woff");}.ff1{font-family:ff1;line-height:0.964000;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff2;src:url(f2.woff)format("woff");}.ff2{font-family:ff2;line-height:1.000000;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff3;src:url(f3.woff)format("woff");}.ff3{font-family:ff3;line-height:1.400000;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff4;src:url(f4.woff)format("woff");}.ff4{font-family:ff4;line-height:1.000000;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff5;src:url(f5.woff)format("woff");}.ff5{font-family:ff5;line-height:0.943857;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff6;src:url(f6.woff)format("woff");}.ff6{font-family:ff6;line-height:0.965000;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff7;src:url(f7.woff)format("woff");}.ff7{font-family:ff7;line-height:0.965000;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff8;src:url(f8.woff)format("woff");}.ff8{font-family:ff8;line-height:0.454000;font-style:normal;font-weight:normal;visibility:visible;}
.m0{transform:matrix(0.325000,0.000000,0.000000,0.325000,0,0);-ms-transform:matrix(0.325000,0.000000,0.000000,0.325000,0,0);-webkit-transform:matrix(0.325000,0.000000,0.000000,0.325000,0,0);}
.m1{transform:matrix(1.300000,0.000000,0.000000,1.300000,0,0);-ms-transform:matrix(1.300000,0.000000,0.000000,1.300000,0,0);-webkit-transform:matrix(1.300000,0.000000,0.000000,1.300000,0,0);}
.v0{vertical-align:0.000000px;}
.ls0{letter-spacing:0.000000px;}
.sc_{text-shadow:none;}
.sc0{text-shadow:-0.015em 0 transparent,0 0.015em transparent,0.015em 0 transparent,0 -0.015em  transparent;}
@media screen and (-webkit-min-device-pixel-ratio:0){
.sc_{-webkit-text-stroke:0px transparent;}
.sc0{-webkit-text-stroke:0.015em transparent;text-shadow:none;}
}
.ws0{word-spacing:0.000000px;}
._0{margin-left:-4.957420px;}
._d{margin-left:-3.586536px;}
._7{margin-left:-1.701820px;}
._a{width:1.134546px;}
._9{width:10.111838px;}
._4{width:11.214555px;}
._8{width:12.480010px;}
._6{width:14.744648px;}
._2{width:20.103600px;}
._1{width:27.464107px;}
._3{width:29.063170px;}
._e{width:32.801060px;}
._10{width:754.143465px;}
._f{width:1131.062392px;}
._5{width:1359.566178px;}
._b{width:1433.791695px;}
._c{width:1561.689983px;}
.fc1{color:rgb(76,76,76);}
.fc0{color:rgb(20,20,20);}
.fs5{font-size:23.910400px;}
.fs2{font-size:39.272400px;}
.fs4{font-size:39.850400px;}
.fs1{font-size:43.636400px;}
.fs3{font-size:47.820800px;}
.fs0{font-size:99.148400px;}
.y0{bottom:-0.650000px;}
.y40{bottom:50.872900px;}
.y3f{bottom:66.414400px;}
.y3e{bottom:67.798900px;}
.y3d{bottom:84.919900px;}
.y3c{bottom:100.462700px;}
.y3b{bottom:101.847200px;}
.y3a{bottom:118.968200px;}
.y39{bottom:120.660800px;}
.y38{bottom:140.088000px;}
.y37{bottom:174.530200px;}
.y36{bottom:190.071700px;}
.y35{bottom:191.456200px;}
.y34{bottom:209.873300px;}
.y33{bottom:224.120000px;}
.y32{bottom:225.504500px;}
.y31{bottom:242.625500px;}
.y30{bottom:244.318100px;}
.y2f{bottom:263.745300px;}
.y2e{bottom:298.187500px;}
.y2d{bottom:313.729000px;}
.y2c{bottom:315.114800px;}
.y2b{bottom:332.235800px;}
.y2a{bottom:333.928400px;}
.y29{bottom:353.354300px;}
.y28{bottom:382.592600px;}
.y27{bottom:428.346100px;}
.y26{bottom:443.887600px;}
.y25{bottom:445.272100px;}
.y24{bottom:462.393100px;}
.y23{bottom:463.778900px;}
.y22{bottom:480.899900px;}
.y21{bottom:482.592500px;}
.y20{bottom:502.617700px;}
.y1f{bottom:521.527500px;}
.y1e{bottom:552.653400px;}
.y1d{bottom:554.039200px;}
.y1c{bottom:571.160200px;}
.y1b{bottom:572.544700px;}
.y1a{bottom:589.665700px;}
.y19{bottom:591.051500px;}
.y18{bottom:608.172500px;}
.y17{bottom:609.865100px;}
.y16{bottom:629.890300px;}
.y15{bottom:648.798800px;}
.y14{bottom:679.926000px;}
.y13{bottom:681.310500px;}
.y12{bottom:698.431500px;}
.y11{bottom:699.817300px;}
.y10{bottom:716.938300px;}
.yf{bottom:718.322800px;}
.ye{bottom:735.445100px;}
.yd{bottom:737.137700px;}
.y4c{bottom:754.689000px;}
.yc{bottom:761.722000px;}
.y4b{bottom:770.231800px;}
.y4a{bottom:788.362900px;}
.yb{bottom:788.775000px;}
.ya{bottom:790.160800px;}
.y49{bottom:806.495300px;}
.y9{bottom:807.281800px;}
.y8{bottom:808.666300px;}
.y7{bottom:825.788600px;}
.y6{bottom:827.481200px;}
.y48{bottom:832.986700px;}
.y5{bottom:847.506400px;}
.y4{bottom:866.414900px;}
.y47{bottom:879.635900px;}
.y46{bottom:881.020400px;}
.y3{bottom:894.357100px;}
.y45{bottom:899.063100px;}
.y44{bottom:900.755700px;}
.y43{bottom:921.701300px;}
.y2{bottom:932.153300px;}
.y42{bottom:940.611100px;}
.y1{bottom:959.357100px;}
.y41{bottom:968.553300px;}
.h7{height:11.405261px;}
.h9{height:29.688548px;}
.h8{height:29.768249px;}
.h5{height:32.509118px;}
.h6{height:32.596391px;}
.h4{height:35.626496px;}
.h3{height:41.236020px;}
.h2{height:73.865558px;}
.h0{height:1029.600000px;}
.h1{height:1030.250000px;}
.w0{width:795.600000px;}
.w1{width:796.250000px;}
.x0{left:0.000000px;}
.x3{left:46.800000px;}
.x4{left:65.943800px;}
.x5{left:78.000000px;}
.x2{left:142.277200px;}
.x1{left:257.194600px;}
@media print{
.v0{vertical-align:0.000000pt;}
.ls0{letter-spacing:0.000000pt;}
.ws0{word-spacing:0.000000pt;}
._0{margin-left:-5.084533pt;}
._d{margin-left:-3.678498pt;}
._7{margin-left:-1.745456pt;}
._a{width:1.163637pt;}
._9{width:10.371115pt;}
._4{width:11.502107pt;}
._8{width:12.800011pt;}
._6{width:15.122716pt;}
._2{width:20.619077pt;}
._1{width:28.168315pt;}
._3{width:29.808380pt;}
._e{width:33.642112pt;}
._10{width:773.480477pt;}
._f{width:1160.063992pt;}
._5{width:1394.426850pt;}
._b{width:1470.555584pt;}
._c{width:1601.733316pt;}
.fs5{font-size:24.523487pt;}
.fs2{font-size:40.279385pt;}
.fs4{font-size:40.872205pt;}
.fs1{font-size:44.755282pt;}
.fs3{font-size:49.046974pt;}
.fs0{font-size:101.690667pt;}
.y0{bottom:-0.666667pt;}
.y40{bottom:52.177333pt;}
.y3f{bottom:68.117333pt;}
.y3e{bottom:69.537333pt;}
.y3d{bottom:87.097333pt;}
.y3c{bottom:103.038667pt;}
.y3b{bottom:104.458667pt;}
.y3a{bottom:122.018667pt;}
.y39{bottom:123.754667pt;}
.y38{bottom:143.680000pt;}
.y37{bottom:179.005333pt;}
.y36{bottom:194.945333pt;}
.y35{bottom:196.365333pt;}
.y34{bottom:215.254667pt;}
.y33{bottom:229.866667pt;}
.y32{bottom:231.286667pt;}
.y31{bottom:248.846667pt;}
.y30{bottom:250.582667pt;}
.y2f{bottom:270.508000pt;}
.y2e{bottom:305.833333pt;}
.y2d{bottom:321.773333pt;}
.y2c{bottom:323.194667pt;}
.y2b{bottom:340.754667pt;}
.y2a{bottom:342.490667pt;}
.y29{bottom:362.414667pt;}
.y28{bottom:392.402667pt;}
.y27{bottom:439.329333pt;}
.y26{bottom:455.269333pt;}
.y25{bottom:456.689333pt;}
.y24{bottom:474.249333pt;}
.y23{bottom:475.670667pt;}
.y22{bottom:493.230667pt;}
.y21{bottom:494.966667pt;}
.y20{bottom:515.505333pt;}
.y1f{bottom:534.900000pt;}
.y1e{bottom:566.824000pt;}
.y1d{bottom:568.245333pt;}
.y1c{bottom:585.805333pt;}
.y1b{bottom:587.225333pt;}
.y1a{bottom:604.785333pt;}
.y19{bottom:606.206667pt;}
.y18{bottom:623.766667pt;}
.y17{bottom:625.502667pt;}
.y16{bottom:646.041333pt;}
.y15{bottom:665.434667pt;}
.y14{bottom:697.360000pt;}
.y13{bottom:698.780000pt;}
.y12{bottom:716.340000pt;}
.y11{bottom:717.761333pt;}
.y10{bottom:735.321333pt;}
.yf{bottom:736.741333pt;}
.ye{bottom:754.302667pt;}
.yd{bottom:756.038667pt;}
.y4c{bottom:774.040000pt;}
.yc{bottom:781.253333pt;}
.y4b{bottom:789.981333pt;}
.y4a{bottom:808.577333pt;}
.yb{bottom:809.000000pt;}
.ya{bottom:810.421333pt;}
.y49{bottom:827.174667pt;}
.y9{bottom:827.981333pt;}
.y8{bottom:829.401333pt;}
.y7{bottom:846.962667pt;}
.y6{bottom:848.698667pt;}
.y48{bottom:854.345333pt;}
.y5{bottom:869.237333pt;}
.y4{bottom:888.630667pt;}
.y47{bottom:902.190667pt;}
.y46{bottom:903.610667pt;}
.y3{bottom:917.289333pt;}
.y45{bottom:922.116000pt;}
.y44{bottom:923.852000pt;}
.y43{bottom:945.334667pt;}
.y2{bottom:956.054667pt;}
.y42{bottom:964.729333pt;}
.y1{bottom:983.956000pt;}
.y41{bottom:993.388000pt;}
.h7{height:11.697703pt;}
.h9{height:30.449793pt;}
.h8{height:30.531537pt;}
.h5{height:33.342685pt;}
.h6{height:33.432196pt;}
.h4{height:36.539996pt;}
.h3{height:42.293354pt;}
.h2{height:75.759547pt;}
.h0{height:1056.000000pt;}
.h1{height:1056.666667pt;}
.w0{width:816.000000pt;}
.w1{width:816.666667pt;}
.x0{left:0.000000pt;}
.x3{left:48.000000pt;}
.x4{left:67.634667pt;}
.x5{left:80.000000pt;}
.x2{left:145.925333pt;}
.x1{left:263.789333pt;}
}
